/* style sheet */

#header a {
  text-decoration: none;
}
#header img {
  border-style: none;
}
#navigation li {
  display: inline;
}
#navigation a {
  text-decoration: none;
}

table {
  margin-top: 5px;
  margin-bottom: 5px;
}

table, tr, th, td {
  border-collapse: collapse;
  padding: 2px;
}

table.reports thead tr {
  border-bottom: 2px solid gray;
  color: white;
  background-color: #000080;
}
table.reports tbody tr {
  border-bottom: 1px solid gray;
}
table.reports, table.reports th, table.reports td {
  border-style: none;
}

table.items thead tr {
  border-bottom: 2px solid gray;
  color: white;
  background-color: #000080;
}
table.items tbody tr {
  border-bottom: 1px solid gray;
}
table.items, table.items th, table.items td {
  border-style: none;
}

td.tag {
  width: 200px;
}

td.founds-in, td.founds-out {
  width: 100px;
  text-align: right;
}

td.founds-in input[type=text], td.founds-out input[type=text] {
  width: 100px;
  text-align: right;
}

span.tag.selected {
  background-color: #6495ED;
}
span.tag a {
  text-decoration: none;
}

/* jQuery UI を 1.8 にあげたら消す */
.ui-datepicker-year:after {
  content: "年";
}
