/* style sheet */
table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

#navigation li {
  display: inline;
}

/* jQuery UI を 1.8 にあげたら消す */
.ui-datepicker-year:after {
  content: "年";
}
