/* style sheet */

table {
  margin-top: 5px;
  margin-bottom: 5px;
}

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

#navigation li {
  display: inline;
}

span.tag.selected {
  background-color: #6495ED;
}
span.tag a {
  text-decoration: none;
}

/* jQuery UI を 1.8 にあげたら消す */
.ui-datepicker-year:after {
  content: "年";
}
