<%- @title = "検索" -%>

<%- form_tag(:controller => "reports", :action => "search") do -%>
  <div>
    <%= text_field_tag :first, params[:first] %> - <%= text_field_tag :last, params[:last] %>
    <%= submit_tag "検索" %>
  </div>
<%- end -%>

<%- content_for :script do -%>
  $("#first, #last").datepicker({ dateFormat: "yy-mm-dd" });
<%- end -%>
